#result{
    margin: 2% auto;
    background-color: #999;
    width: 60vw;
    border-radius: 15px;
    color: #000;
}

#result > h1{
    width: max-content;
    padding: 2%;
    margin: auto;
}

#result > button{
    margin: 5%;
    background-color: #00d400;
    border: none;
    font-weight: 600;
}